@import "tailwindcss";

:root {
    --default-bg-color: transparent;
    --default-main-color: #131313;
    --default-text-color: #000;

    --background: #eceff3;
    --background-aside: #fff;
    --background-main-section: #fff;
    --background-footer: #fff;
    --background-nav: #243a53;
    --background-kpi-item: #fff;
    --background-kpi-icon: #7fafe796;
    --background-products-item: #fff;

    --border-nav: var(--background-nav);
    --border-color: #4a6c9469;
    --border-color-nav-button: #4a6c94;

    --box-show-color-nav: #192a3d38;

    --foreground: #171717;
    --hover-background: #fafafafa;
    --menu-select-background: #a5c4e17f;

    --text-title-color: #3b5461;
    --text-subtitle-color: #647882;
    --text-kpi-icon: #206788;
    --text-unselected-navigation-link: #647882;
    --text-selected-navigation-link: #000;

    --theme-primary-background: #243a53;
    --theme-primary-color: #fff;
    --select-highlight: #18153e;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

[data-theme="dark"] {
    --default-bg-color: transparent;
    --default-main-color: #131313;
    --default-text-color: #fff;

    --background: #000;
    --background-aside: #000;
    --background-main-section: var(--default-main-color);
    --background-footer: #000;
    --background-nav: #000;
    --background-kpi-item: var(--default-main-color);
    --background-kpi-icon: #1e1f27;
    --background-products-item: transparent;

    --border-color: #242424;
    --border-nav: var(--border-color);
    --border-color-nav-button: #242424;

    --box-show-color-nav: #192a3d38;

    --foreground: #171717;
    --hover-background: #1c1c1c;
    --menu-select-background: #0d1c2bdd;

    --text-title-color: #fff;
    --text-subtitle-color: #fff;
    --text-kpi-icon: #306c87;
    --text-unselected-navigation-link: #fff;
    --text-selected-navigation-link: #fff;

    --theme-primary-background: #000;
    --theme-primary-color: #fff;
    --select-highlight: #18153e;
}

* {
    box-sizing: border-box;
}

*:disabled,
*[data-state="disabled"] {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
}

body {
    display: grid;
    height: 100vh;
    width: 100%;
    background: var(--background);
    color: var(--default-text-color);
    font-family: Arial, Helvetica, sans-serif;
    grid-template-rows: auto 1fr;
}

body:has(form[data-component="layout-form"][data-active="true"]) main,
body:has(form[data-component="layout-form"][data-active="true"]) nav {
    pointer-events: none;
    opacity: 0.3;
}

input+button[data-styletype] {
    border-left-width: 0px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

*:has(input+button[data-styletype]) input {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

a[data-styletype],
button[data-styletype],
input,
select {
    --height: 45px;

    height: var(--height);
    max-height: var(--height);
    min-height: var(--height);
}

button,
input,
select {
    cursor: pointer;
}

form[data-component="layout-form"][data-active="true"] {
    padding: var(--container-padding);
}

aside,
footer,
form[data-component="layout-form"],
main>section,
#login-form section {
    border-color: var(--border-color);
}

aside {
    overflow-y: auto;
    grid-area: aside;
    border-right-width: 1px;
}

a[data-styletype],
button[data-styletype] {
    @apply flex flex-row justify-center items-center gap-2;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 10px;
}

a[data-styletype="primary"],
button[data-styletype="primary"] {
    color: var(--theme-primary-color);
    background-color: var(--theme-primary-background);
}

a[data-styletype="primary"]:focus,
button[data-styletype="primary"]:focus,
a[data-styletype="primary"]:hover,
button[data-styletype="primary"]:hover {
    color: var(--theme-primary-background);
}

a[data-styletype]:focus,
button[data-styletype]:focus,
a[data-styletype]:hover,
button[data-styletype]:hover {
    color: var(--default-text-color);
    background-color: var(--hover-background);
}

a[data-styletype] svg,
button[data-styletype] svg {
    transition: all ease-in-out 0.3s;
}

a[data-styletype]:focus svg,
button[data-styletype]:focus svg,
a[data-styletype]:hover svg,
button[data-styletype]:hover svg {
    transform: rotate(360deg);
}

aside {
    background-color: var(--background-aside);
    padding: 0 5px;
}

aside hr {
    opacity: 0.3;
    border-color: var(--border-color);
    background-color: var(--border-color);
}

aside #actions,
aside #quick-links,
aside #navigation-links {
    padding: 10px;
}

aside #navigation-links a {
    @apply flex flex-row items-center;
    width: 100%;
    padding: 0 10px;
    height: 50px;
    column-gap: 10px;
    flex-direction: row;
    justify-content: start;
    border-radius: 10px;
    border: 1px solid transparent;
}

aside #navigation-links a[data-selected="true"] {
    color: var(--text-selected-navigation-link);
    border-color: var(--border-color);
    background-color: var(--menu-select-background);
}

aside #navigation-links a[data-selected="false"] {
    color: var(--text-unselected-navigation-link);
}

aside #navigation-links a svg {
    font-size: 1.2em;
}

div[data-state="error"] {
    @apply w-full flex flex-row justify-center items-center gap-3;
    padding: 5px 2px;
    border-radius: 10px;
}

[data-theme="light"] div[data-state="error"] {
    @apply text-red-900 bg-red-100;
}

[data-theme="dark"] div[data-state="error"] {
    @apply text-red-100 bg-red-900;
}

footer {
    z-index: 10;
    background-color: var(--background);
    position: fixed;
    top: 100%;
    width: 100%;
    transform: translate(0px, -100%);
    border-top-width: 1px;
}

footer a {
    @apply flex items-center gap-2;
    width: 100%;
    padding: 10px;
}

form[data-component="layout-form"] {
    grid-area: form;
    transition: width ease-in-out 0.3s;
}

form[data-component="layout-form"][data-active="true"] {
    border-right-width: 1px;
    width: 100%;
    overflow-y: auto;
}

form[data-component="layout-form"][data-active="false"] {
    width: 0px;
    overflow: hidden;
}

div[data-wrapper="dynamic-table"] {
    background-color: var(--background-main-section);
    width: 100%;
    border-radius: 10px;
    overflow: auto;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer {
    background-color: var(--background-footer);
}

footer a {
    flex-direction: column;
    justify-content: center;
}

footer a[data-selected="true"] {
    border-top: 3px solid var(--select-highlight);
    background-color: var(--menu-select-background);
}

aside a:hover,
footer a:hover,
input:hover,
select:hover {
    background-color: var(--hover-background);
}

footer a span {
    @apply font-bold;
    font-size: 0.7em;
}

input,
select {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 0px 10px;
}

h1 {
    font-weight: 900;
    color: var(--text-title-color);
}

h2 {
    font-weight: 700;
    color: var(--text-subtitle-color);
}

main {
    --padding-margin: calc(var(--container-padding) * 5);
    grid-area: main;
    overflow: auto;
    padding-bottom: var(--py);
    padding-top: var(--py);
    padding-left: var(--px);
    padding-right: var(--px);
}

main>section {
    width: 100%;
}

nav {
    @apply flex flex-row justify-start items-center flex-nowrap gap-2;
    background-color: var(--background-nav);
    padding: 0px 20px;
    grid-area: nav;
    border-bottom-width: 1px;
    border-bottom-color: var(--border-nav);
}

nav * {
    color: #fff;
}

nav button {
    @apply rounded-full;
    border-style: solid;
    border-width: 1px;
    border-color: var(--border-color-nav-button);
    padding: 10px;
}

section section {
    padding: 15px;
    border-radius: 10px;
    background-color: var(--background-main-section);
}

section[data-component="campaign"] {
    @apply flex flex-col justify-start items-start;
    width: 100%;
    row-gap: 20px;
    border: 1px solid var(--border-color);
    border-radius: 40px;
    padding: 30px;
}

section[data-component="campaign"] header {
    width: 100%;
    height: 400px;
    border-radius: 20px;
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

section[data-component="campaign"] div p {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 5px 10px;
}

section[data-component="campaign"] div p span:nth-child(1) {
    @apply italic font-bold;
}

section[data-component="team"] {
    --padding-x: 25px;
    @apply flex justify-start items-start w-full;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    overflow: hidden;
}

section[data-component="team"] header h1 {
    padding: 0px var(--padding-x);
}

section[data-component="team"] header p,
section[data-component="team"] header ul {
    padding: var(--padding-x);
}

section[data-component="team"] header ul li {
    @apply w-full flex flex-row justify-between items-center;
}

section[data-component="team"] header ul li:not(section[data-component="team"] header ul li:last-child) {
    border-bottom: 1px solid var(--border-color);
}

section[data-component="team"] header ul li span:nth-child(1) {
    @apply flex flex-row gap-1 items-center;
}

section[data-component="team"] ul {
    @apply w-full;
}

section[data-component="team"] ul:nth-child(2) li {
    @apply flex flex-row justify-start items-center gap-2;
    padding: 10px;
}

section[data-component="team"] ul:nth-child(2) li:not(section[data-component="team"] ul:nth-child(2) li:last-child) {
    border-bottom: 1px solid var(--border-color);
}

section[data-component="team"] ul:nth-child(2) li div {
    --size: 50px;
    @apply rounded-full;
    height: var(--size);
    width: var(--size);
    max-width: var(--size);
    min-width: var(--size);
    background-size: var(--size);
    background-position: center center;
}

section[data-component="team"] ul:nth-child(2) li span:nth-child(3) {
    @apply italic opacity-60;
}

table {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    border-collapse: separate;
    border-spacing: 0;
}

tr:hover {
    background-color: var(--hover-background);
}

table th,
table td {
    padding: 10px;
}

table td:not(tr td:last-of-type) {
    border-right: 1px solid var(--border-color);
}

table th {
    text-align: center;
    border-bottom: 1px solid var(--border-color);
}


table[data-component="dynamic-table"] {
    width: 100%;
}

table[data-component="dynamic-table"][data-state="loading"] tr * {
    padding: 25px 0px;
    background-color: var(--hover-background);
}

table thead th {
    text-transform: capitalize;
}

#actions {
    display: grid;
    grid-area: actions;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 10px;
}

#actions button {
    padding: 20px;
}

#actions button {
    border-width: 1px;
    border-color: var(--border-color);
    border-radius: 10px;
    transition: all ease-in-out;
}

#actions button:hover {
    background-color: var(--hover-background);
}

#quick-links ul,
#visits header ul {
    overflow-x: auto;
    flex-wrap: nowrap;
}

#quick-links h4 {
    color: var(--text-unselected-navigation-link);
}

#quick-links ul {
    @apply flex flex-row items-center justify-start gap-2;
}

#quick-links ul li {
    display: grid;
    row-gap: 10px;
    justify-content: center;
    height: 130px;
    min-height: 130px;
    max-height: 130px;
    min-width: 100%;
    align-items: center;
    grid-template-areas:
        "link           icon"
        "description    icon"
    ;
}

#quick-links ul li a {
    grid-area: link;
}

#quick-links ul li:hover a {
    text-decoration: underline;
}

#quick-links ul li span {
    grid-area: description;
    opacity: 30%;
    font-size: 0.8em;
}

#quick-links ul li svg {
    grid-area: icon;
}

#kpis {
    @apply flex flex-row justify-start items-center flex-nowrap;
    width: 100%;
    max-width: 100%;
    overflow: auto;
    grid-area: kpis;
    gap: 20px;
}

#kpis li {
    --height: 150px;

    @apply flex flex-col justify-start items-start gap-2;
    width: var(--width);
    max-width: var(--width);
    min-width: var(--width);
    height: var(--height);
    min-height: var(--height);
    max-height: var(--height);
    background-color: var(--background-kpi-item);
}

#kpis li span[data-text="title"] {
    @apply font-bold;
    opacity: 0.5;
    grid-area: title;
}

#kpis li span[data-text="value"] {
    @apply text-3xl font-extrabold;
    grid-area: value;
}

#kpis li div[data-element="icon"] {
    @apply flex flex-col justify-center items-center;
    grid-area: icon;
    background-color: var(--background-kpi-icon);
    border-radius: 15px;
    height: var(--size);
    width: var(--size);
}

#kpis li div[data-element="icon"] svg {
    --icon-size: calc(var(--size) - 20px);

    color: var(--text-kpi-icon);
    height: var(--icon-size);
    width: var(--icon-size);
}

#kpis li div[data-section="header"] {
    --size: 50px;

    width: 100%;
    display: grid;
    grid-template-columns: 1fr var(--size);
    grid-template-rows: auto;
    grid-template-areas:
        "title  icon"
        "value  icon"
    ;
}

#kpis li div[data-section="desc"] {
    @apply w-full flex flex-row justify-start items-center gap-3 flex-nowrap mt-auto;
}

#kpis li div span[data-tendency="up"] {
    @apply text-green-600;
}

#kpis li div span[data-tendency="down"] {
    @apply text-red-300;
}

#kpis li,
#quick-links ul li {
    height: 100%;
    border: 1px solid var(--border-color);
    border-radius: 15px;
    padding: 10px;
}

#kpis li:hover,
#quick-links ul li:hover {
    background-color: var(--hover-background);
}

#doughnut {
    grid-area: doughnut;
}

#line {
    width: 100%;
    position: relative;
    grid-area: line;
    min-height: 300px;
    max-height: 500px;
}

#line canvas {
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
}

#login-form,
#login-form section {
    @apply flex flex-col justify-center items-center;
    overflow: hidden;
}

#login-form {
    height: 100%;
    width: 100%;
}

#login-form section {
    padding: 20px;
    border-radius: 10px;
}

#login-form section *:not(button[type="button"]) {
    width: 100%;
}

#login-form section fieldset div button[type="button"] {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

#login-form section fieldset div input {
    border-right-width: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

#panel {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    grid-template-areas:
        "kpis"
        "line"
    ;
}

#products ul li img {
    --size: 200px;

    grid-area: img;
    height: var(--size);
    min-width: var(--size);
    max-width: 100%;
}

#products ul li p {
    padding: 0px var(--padding-x);
    font-weight: 700;
    grid-area: title;
}

#products ul li span {
    padding: 0px var(--padding-x);
    grid-area: value;
}

#products ul li span[data-trend] {
    margin-left: auto;
    grid-area: trend;
}

#products ul li span[data-trend] svg {
    @apply rounded-full;
    padding: 2px;
}

#products ul li span[data-trend="u"] svg {
    @apply bg-green-800 text-green-200;
}

#products ul li span[data-trend="d"] svg {
    @apply bg-red-800 text-red-200;
    transform: rotate(180deg);
}

#products ul li {
    --padding-x: 10px;
    min-width: 200px;
    width: 100%;
    display: grid;
    row-gap: 10px;
    padding-bottom: var(--padding-x);
    border: 1px solid var(--border-color);
    background-color: var(--background-products-item);
    border-radius: 10px;
    overflow: hidden;
    grid-template-areas:
        "img img"
        "title title"
        "value trend"
    ;
}

#visits {
    @apply flex flex-col gap-2;
    border-radius: 10px;
    grid-area: visits;
    padding: 15px;
}

#visits header ul {
    @apply flex flex-row justify-start gap-3;
}

#visits img {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    border-radius: 10px;
    border: 1px solid var(--border-color);
}

#visits ul li span:nth-of-type(1) {
    grid-area: value;
    font-weight: 700;
}

#visits ul li span:nth-of-type(2) {
    grid-area: title;
}

#visits ul li svg {
    --size: 40px;
    @apply rounded-full;
    padding: 8px;
    background-color: var(--hover-background);
    grid-area: icon;
    width: var(--size);
    height: var(--size);
}

#visits ul li {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 5px;
    column-gap: 10px;
    row-gap: 5px;
    display: grid;
    grid-template-areas:
        "icon value"
        "icon title"
    ;
}

@media only screen and (max-width: 499px) {
    :root {
        --container-padding: 5px;
        --nav-height: 55px;
    }

    h1,
    h2 {
        font-size: 1.6em;
    }

    nav a,
    nav span:nth-child(2) {
        display: none;
    }

    #actions,
    #line {
        display: none;
    }

    #kpis li {
        --width: 100%;
    }

    #login-form section {
        @apply gap-y-7;
        border-width: 0px;
        min-height: 100%;
        min-width: 100%;
    }

    #visits {
        width: 100%;
    }
}

@media only screen and (min-width: 500px) {
    :root {
        --container-padding: 5px;
        --nav-height: 55px;
    }

    h1,
    h2 {
        font-size: 1.4em;
    }

    #kpis li {
        --width: 400px;
    }

    #login-form section {
        @apply gap-y-7;
        border-width: 1px;
        min-height: 70%;
        min-width: 50%;
    }
}

/* @media only screen and (max-width: 1080px) {
    #panel {
        @apply flex flex-col justify-start;
    }
} */

/* @media only screen and (min-width: 1081px) {
    #panel {
        grid-template-columns: 1fr 286px;
        grid-template-areas:
            "line doughnut"
            "kpis kpis"
        ;
    }
} */

@media only screen and (max-width: 1499px) {
    aside {
        display: none;
    }

    body {
        grid-template-columns: auto 1fr;
        grid-template-rows: var(--nav-height) auto 65px;
        grid-template-areas:
            "form nav"
            "form main"
            ". ."
        ;
    }

    main {
        --px: 150px;
        --py: 20px;

        gap: 20px;
    }

    main>section:last-of-type {
        padding-bottom: 50px;
    }

    section[data-component="team"] {
        @apply flex-col;
    }

    section[data-component="team"] header {
        border-bottom: 1px solid var(--border-color);
    }

    section[data-component="team"] header p {
        width: 100%;
    }
}

@media only screen and (min-width: 1500px) {
    :root {
        --container-padding: 20px;
        --nav-height: 75px;
        --global-gap: 25px;
    }

    footer {
        display: none;
    }

    body {
        grid-template-columns: 250px auto 1fr;
        grid-template-rows: var(--nav-height) auto;
        grid-template-areas:
            "nav    nav     nav"
            "aside  form    main"
        ;
    }

    main {
        align-items: center;
        --padding-margin: var(--container-padding);
        padding: var(--global-gap);
    }

    main>section {
        max-width: 1300px;
    }

    h1,
    h2 {
        font-size: 2em;
    }

    main,
    section {
        gap: var(--global-gap);
    }

    section[data-component="team"] {
        @apply flex-row;
    }

    section[data-component="team"] header {
        border-right: 1px solid var(--border-color);
    }

    section[data-component="team"] header p {
        max-width: 350px;
    }

    #login-form section fieldset {
        @apply my-auto;
    }
}